*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .loginInformation, .welcome{
    width: 45%;
    height: auto;
}


/* ==================================</>=========================================== */


.main .loginInformation{
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
.main .loginInformation .div1{
    width: 100%;
    margin-left: 160px;
}

.main .loginInformation h1{
    font-size: 50px;
}
.main .loginInformation p{
    font-size: 20px;
    margin-bottom: 25px;
}
.main .loginInformation label{
    font-size: 20px;
}
.main .loginInformation .input1{
    padding: 10px 80px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px black solid;
}
.main .loginInformation .input2{
    padding: 10px 80px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px black solid;
}
.main .loginInformation a{
    text-decoration: none;
    font-size: 15px;
    margin-left: 224px;
    margin-top: 3px;
}

.main .loginInformation .button1{
    font-size: 15px;
    cursor: pointer;
    background-color: #6A2CD8;
    color: white;
    padding: 15px 144px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}
.main .loginInformation .button2{
    font-size: 15px;
    cursor: pointer;
    /* background-color: #6A2CD8; */
    padding: 15px 93px;
    border-radius: 50px;
    border: 1px solid black;
}
/* ==================================</>=========================================== */
.main .welcome{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #6A2CD8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .welcome img{
    width: 400px;
}
.main .welcome p{
    font-size: 20px;
    letter-spacing: 3px;
}
.main .welcome h1{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6A2CD8;
}